<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />

    <title>演習3</title>
  </head>
  <body>
    <div id="app">
      <p>
        映画タイトル：<input type="text" v-model="movie.title"/> <!-- ①ここにテキスト入力を受け付けるタグを作成 -->
        <select v-model='movie.rate' v-bind:disabled="nothing">
            <option v-for="rate in rates">{{rate}}</option>
        </select><!-- ②セレクト可能なタグを用意 Optionは繰り返しでうまいこと作成 -->
      </p>
      <button v-on:click="clickButton" v-bind:disabled="nothing">リストに追加</button>

      <ul>
        <li v-for="movie in movieList">
          {{ movie.title }}
          {{ movie.rate }}
        </li><!-- ③ここにリストで追加できるようにする データが更新されたら自動で変わる -->
      </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
      var app = new Vue({//オ・マジナイ
        el: '#app',
        data: {
          movieList: [],
          movie: { //このオブジェクト内でタイトルと評価を持たせる
            title: '', //movie.title
            rate: null //movie.rate
          },
          rates: ["★", "★★", "★★★", "★★★★", "★★★★★"]//選択できるrateの配列
        },
        methods:{
            clickButton : function (){
              console.log(this.movieList)
                  var ex = false
                  for (var movie in this.movieList) {
                    if (this.movie.title=== this.movieList[movie].title) {
                          ex = true
                          break;
                      }else{
                          ex = false
                      }
                  }
                  if (!ex) {
                      this.movieList.push(this.movie)
                  }else{
                      alert("This movie is already in the list!") // ②ここに配列movieListに入力されたmovieTitleを入れる
                  }
                  this.movie = {
                    title: '',
                    rate: null
                  }//   配列更新したら、入力された文字列はクリア('')にしてください
              }// ④演習2っぽく配列にデータを入れる
        },
        computed: {
            nothing: function () {
              if (this.movie.title == "") {
                return true
              } else{
                return false
              }
            }
        }
      })
    </script>
  </body>
</html>
