<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />

    <title>演習2</title>
  </head>
  <body>
    <div id="app">
      <p>
        映画タイトル：<input type="text" v-model="movieTitle"/>
      </p>
      <button v-on:click="clickButton" v-bind:disabled="nothing">リストに追加</button>
      <ul> 見た映画リスト
        <li v-for="movie in movieList">
          {{ movie }}
        </li><!-- ①ここにリストで追加できるようにする データが更新されたら自動で変わる -->
      </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
      var app = new Vue({//呪文
        el: '#app',
        data: {
          movieList: [],//これ使ってリストで表示
          movieTitle: '',//これ使って入力テキスト受け付けて
        },
        methods:{
            clickButton : function (){
                  console.log(this.movieList)
                  var ex = false;
                  for (var movie in this.movieList) {
                    if (this.movieTitle === this.movieList[movie]) {
                          ex = true;
                          break;
                      }else{
                          ex = false;// ②ここに配列movieListに入力されたmovieTitleを入れる
                      }
                  }
                  if (!ex) {
                      this.movieList.push(this.movieTitle);
                  }else{
                      alert("This movie is already in the list!");
                  }
                  this.movieTitle = "";//   配列更新したら、入力された文字列はクリア('')にしてください
              }
        },
        computed: {
            nothing: function () {
              if (this.movieTitle == "") {
                return true
              } else{
                return false
              }
            }
        }
      })
    </script>
  </body>
</html>
